body {
    margin: 60px auto;
    width: 70%;
    background-color: #ffffff;
    font-size: 100%;
}
nav ul, footer ul {
    font-family: 'Barlow Semi Condensed', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li { 
    display: inline;
    margin-right: 20px;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: #20B2AA;
}
a:hover {
    text-decoration: underline;
    color: #4A6967;
}
h1 {
    font-size: 3em;
    font-family: 'Raleway', 'Serif';
    color: #262626;
}
p {
    font-family: 'Barlow Semi Condensed', 'Sans-Serif';
    font-size: 1.75em;
    line-height: 1.4em;
    color: #515B5A;
}
li {
    font-family: 'Barlow Semi Condensed', 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
    color: #515B5A;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family: 'Barlow Semi Condensed', 'Helvetica', 'Arial', 'Sans-Serif';
    color: #999999;
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

