<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:bold">
		</head>



		<body>
				<header class="page-header">
					<nav>
			    		<ul>
			        		<li><a href="/">01. intro</a></li>
				        	<li><a href="/about">02. about</a></li>
			        		<li><a href="/projects">03. projects</a></li>
			        		<li><a href="/contact">04. contact</a></li>
			    		</ul>
					</nav>
				</header>

				<div class="container">
				
				{{ content }}
				
				</div><!-- /.container -->
				<footer class="page-footer">
		    		© 2019 Martina Laurel Tan
				</footer>
		</body>
	</html>
